#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #00a885;
}
#menu-0 .mbr-navbar__hamburger {
  color: #553982;
}
#menu-0 .mbr-brand__name a {
  font-size: 18px;
}
#header4-2 H1 {
  color: #ffffff;
}
#header3-b P {
  text-align: center;
}
#header3-b H3 {
  text-align: center;
}
#content1-g P {
  text-align: left;
  font-size: 17px;
}
#content1-h P {
  text-align: left;
  font-size: 17px;
}
